.btn {
  text-decoration: none;
  color: #fff;
  background-color: var(--primary-color);
  width: 250px;
  border-radius: 24px;
  text-align: center;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
  margin-top: 10px;
  margin-bottom: 0;
}

.btn:hover {
  background: var(--dark-hover);
}

.label {
  display: block;
  padding-bottom: 10px;
}
